@font-face {
  font-family: "NanumSquare";
  src: url('../fonts/NanumSquareR.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url('../fonts/NanumSquareB.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url('../fonts/NanumSquareEB.otf');
  font-weight: 800;
  font-style: normal;
}

* {
    font-family: 'NanumSquare';
    margin: 0; 
    padding: 0;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
    margin-top: 67px;
  }

  .header-title {
    display: flex;
    width: 359px;
    height: 22px;
    flex-direction: column;
    color: #000;
    text-align: center;
    font-family: NanumSquare;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px; /* 122.222% */
    letter-spacing: -0.408px;
    /* position: relative; */
  }

  .nav-container {
    /* background-color: darkslategray; */
    list-style: none;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
  }
  .nav-item {   /*여백은 고정 창의 크기가 변경!!!*/
    /* padding: 15px;
    cursor: pointer; */
    width: 115px;
    height: 109px;
    margin: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /*137.5%  */
    letter-spacing: -0.408px; 
  }
  .nav-item a {
    text-align: center;
    text-decoration: none;
    color:#000;
  }
  .nav-item img {
    text-align: center;
    text-decoration: none;
  }
  .nav-item:hover {
    background-color: #0F491B;
  }
  .nav-item a:hover {
    color: #FFF;
  }

  li div {
    margin-top: 19px;
  }

  .summary-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 16px;
    padding-right: 14px;
    margin-top: 23px;
    margin-bottom: 14px;
  }
  .summary-text {
    width: 360px;
    height: 22px;
    flex-shrink: 0;
    color: #000;
    font-family: NanumSquare;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
  }
  .info-more {
    display: inline-block;
    position: absolute;
    right: 23px;
    color: #027B1A;
    font-family: NanumSquare;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
  }

  .plot-area {
    width: 358px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    box-shadow: 0px 8px 64px 0px rgba(15, 34, 67, 0.06);
    margin-left: 16px;
    margin-right: 16px;
    
  }