@font-face {
  font-family: "NanumSquare";
  src: url('../fonts/NanumSquareR.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url('../fonts/NanumSquareB.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquare";
  src: url('../fonts/NanumSquareEB.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "RixInooAriDuriR";
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'NanumSquare';
  }

  .container {
    max-width: 800px;
  }


/*내 뻘 짓들 ㅠㅠ*/

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
    margin-top: 67px;
  }

  .header-title {
    display: flex;
    width: 359px;
    height: 22px;
    flex-direction: column;
    color: #000;
    text-align: center;
    font-family: NanumSquare;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px; /* 122.222% */
    letter-spacing: -0.408px;
    /* position: relative; */
  }

  .nav-container {
    /* background-color: darkslategray; */
    list-style: none;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
  }
  .nav-item {   /*여백은 고정 창의 크기가 변경!!!*/
    /* padding: 15px;
    cursor: pointer; */
    width: 115px;
    height: 109px;
    margin: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /*137.5%  */
    letter-spacing: -0.408px; 
  }
  .nav-item a {
    text-align: center;
    text-decoration: none;
    color:#000;
  }
  .nav-item img {
    text-align: center;
    text-decoration: none;
  }
  .nav-item:hover {
    background-color: #0F491B;
  }
  .nav-item a:hover {
    color: #FFF;
  }

  li div {
    margin-top: 19px;
  }

  main {
    display: grid;
    justify-content: center;
  }

  article {
    position: relative;
  }

  .summary-box {
    display: inline-block;
    /* justify-content: center; */
    align-items: center;
    padding-left: 16px;
    padding-right: 14px;
    margin-top: 23px;
    margin-bottom: 14px;
  }
  .summary-text {
    width: 360px;
    height: 22px;
    flex-shrink: 0;
    color: #000;
    font-family: NanumSquare;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
  }
  .info-more {
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 0.9px;
    color: #027B1A;
    font-family: NanumSquare;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
  }

  .plot-area {
    display: block;
    width: 358px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    box-shadow: 0px 8px 64px 0px rgba(15, 34, 67, 0.06);
    margin-left: 16px;
    margin-right: 16px;
    
  }

  .table-area-1 {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px 10px 10px 10px;
  }



/*
Dash Bootstrap CSS 적용하기
지현 쌤의 1rem = 14px
시스템 폰트는 1rem=16px로 되어 있는 듯하다
viewport: 390px × 844px
*/  

  .survey-text {
    color: #F15C6A;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /* -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF; */
    font-family: RixInooAriDuriR;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 125% */
    letter-spacing: -0.0255rem;
    margin:0;
  }

  .stone-img {
    width: 4.27969rem;
    height: 3.71819rem;
    flex-shrink: 0;
    margin-left: 0.88rem;
    margin-right: 0.88rem;
  }

  .survey-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4375rem;
    flex-shrink: 0;
    background: #FFA5AE;
    margin-top: 2.75rem;
  }

  .survey-link {
    text-decoration: none;
    color: inherit;
  }

  .dbc-header-title {
    color: #000;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    margin-top: 1.81rem;
    margin-bottom: 1.44rem;
  }

  nav {
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.875rem;
    color: #000;
    border-radius: 0.5rem;
    background: #F4F4F4;
    width: 29.2308vw; /*114px*/
    height: 6.1611vh; /*52px*/
    max-width: 200px;
    /* width: 7.125rem;
    height: 3.3125rem; */
    letter-spacing: -0.408px;
    flex-shrink: 0;
    /* padding: 0.3214rem 0.5714rem; */
    padding: 0px 0px;
  }

  .nav-link:hover {
    color: #7052EF;
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.11);
  }

  .btn {
    /* --bs-btn-color: #7052EF; */
    font-family: NanumSquare;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: -0.0255rem;
    text-decoration: none;
    --bs-btn-border-color: none;
    --bs-btn-active-color: #F15C6A;
  } 

  .btn.active {
    color: #FFF;
    text-align: center;
    font-family: NanumSquare;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.375rem; /* 157.143% */
    letter-spacing: -0.0255rem;
    background-color: #F15C6A;
    border-radius: 0.5rem;
  }

  .dbc-summary {
    margin-top: 4.0284vh; /*34px*/
    margin-bottom: 1.6588vh; /*14px*/
  }

  .dbc-summary-text {
    display: inline-block;
    font-size: 0.875rem;
    margin: 0px;
  }

  .dbc-info-more {
    display: inline-block;
  }

  .dbc-card-explanation {
    padding: 0;
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 157.143% */
    letter-spacing: -0.0255rem;
  }

  .dbc-content {
    border-radius: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    /* shadow1 */
    box-shadow: 0px 8px 64px 0px rgba(15, 34, 67, 0.06);
  }

  .table-striped>tbody>tr:nth-child(odd)>td {
    --bs-table-striped-bg: #FFEFF1;
  }

  .table {
    --bs-table-hover-bg: #FFA5AE;
  }

  th {
    min-width: 2.6rem;
  }

  th:first-child {
    border-top-left-radius: 0.625rem; 
    /* border-left: 1px solid #F15C6A;  */
  }

  th:last-child {
    border-top-right-radius: 0.625rem;
    min-width: 3.6rem;
    /* border-right: 1px solid #F15C6A;  */
  }

  .card-table {
    border-radius: 0.7rem;
    /* border: 2px solid #F15C6A; */
    background: #FFF;
    margin: 1rem;
  } 
